node_modules

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/session/*
application/ci_sessions/*

composer.lock

application/config/config.php
application/config/database.php
.cpanel.yml
.htaccess


user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/_doping/
/_adjuntos/
/_clinico/
/_docs/
/_facturasdoping/
/_psicometria/
/_estudios/
/_beca/